@model DepositWithdrawalViewModel

<div id="depositDiv">
    <h2>Insättning</h2>
    <form asp-controller="Account"
          asp-action="Deposit"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#depositDoneDiv">
        <input type="hidden" asp-for="@Model.Account.AccountId" />
        <label asp-for="@Model.Account.AccountId">Insättning till konto:</label>
        <p>@Model.Account.AccountId - @Model.Account.Balance SEK</p>
        <label asp-for="@Model.Transaction.Amount">Summa</label>
        <input type="text" asp-for="@Model.Transaction.Amount" /> SEK
        <br /><br />
        <input type="submit" value="Godkänn" />
    </form>
</div>

@if (Model.Transaction != null)
{
    <div id="depositDoneDiv">
    </div>
}