@model DepositWithdrawalViewModel

<div id="depositDiv">
    <h2>Insättning</h2>
    <form asp-controller="Account"
          asp-action="Deposit"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#depositDoneDiv">
        <input type="hidden" asp-for="@Model.Account.AccountId" />
        <div class="form-group">
            <label asp-for="@Model.Account.AccountId">Insättning till konto:</label>
            <p>@Model.Account.AccountId</p>
            </div>
        <div class="form-group">
            <label asp-for="@Model.Account.Balance">Saldo</label>
            <p>@Model.Account.Balance SEK</p>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Transaction.Amount">Summa</label>
            <input type="text" asp-for="@Model.Transaction.Amount" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Godkänn insättning</button>
        <a asp-controller="Account" asp-action="AccountDetails" asp-route-id="@Model.Account.AccountId">Tillbaka</a>
    </form>
</div>

@if (Model.Transaction != null)
{
    <div id="depositDoneDiv">
    </div>
}