@model RegisterUser

    <div id="login">
        <form asp-controller="Bank" asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="@Model.UserName">Användarnamn</label>
                <input asp-for="@Model.UserName" type="text" class="form-control" placeholder="Ange email">

            </div>
            <div class="form-group">
                <label asp-for="@Model.Password">Lösenord</label>
                <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Lösenord">
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Logga in</button>
        </form>
        <p>@ViewData["Message"]</p>
    </div>